<!--
 * @Author: your name
 * @Date: 2021-10-28 16:29:01
 * @LastEditTime: 2021-10-29 09:21:49
 * @LastEditors: your name
 * @Description: In User Settings Edit
 * @FilePath: /carrblog/themes/carrtheme/layout/index.ejs
-->
<section>
    <% page.posts.each(function (page) {%>
        <div>
            
        </div>
        <article>
            <%- page.content %>
        </article>
    <%})%>
</section>