<!--
 * @Author: your name
 * @Date: 2021-10-28 16:28:45
 * @LastEditTime: 2021-10-28 21:40:16
 * @LastEditors: your name
 * @Description: In User Settings Edit
 * @FilePath: /carrblog/themes/carrtheme/layout/layout.ejs
-->
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <%- css('css/main.css')%>
</head>
<body>
    <div id="main">
        <!-- 侧边栏 -->
        <aside id="aside">
            <%- include('aside.ejs') %>
        </aside>
        <!-- 正文 -->
        <div id="content">
            <%- body %>
        </div>
    </div>
    <%- js('js/main.js') %>
</body>
</html>