aside{
    width 200px;
    height 100%;
    position fixed;
    background #464646;
}
.logo{
    width 100%;
    color #ffffff;
    font-weight bold;
    font-size 1.2rem;
    text-align center;
    margin-top 5rem;
}
.description{
    width 100%;
    text-align center;
    font-size .6rem;
    margin-top 1rem;
    color #fff;
}
.menu{
    width 100%;
    text-align center;
    margin-top 2rem;
    .menu-item{
        margin-bottom .8rem;
    }
    .menu-item a{
        color: #fff;
    }
}
.footer{
    width 100%;
    position absolute;
    bottom 1rem;
    font-size .6rem;
    color #fff;
    box-sizing border-box;
    p{
        width 100%;
        text-align center;
        margin-bottom .5rem;
    }
}